@font-face {
    font-family: FiraCode;
    src: url('FiraCode/FiraCodeNerdFont-Regular.ttf');
}
* {
    font-family: FiraCode;
}
body {
    margin: 0px;
}

.legend {
    position: absolute;
    top:0;
    left:0;
}
.legend.hovering {
    color:red;
    font-weight: bold;
}
.card {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    font-size: small;
    border-radius: 10px;
}
.card.finale {
    background-color: rgb(200,250,200);
}
.card.dummy {
    background-color: rgb(200,200,250);
    border-style: dashed;
}
.card>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card>div>span {
    margin-right: 20px
}
.card>div>div {
    display: flex;
    gap: 5px;
}
.info_button {
    border: 1px solid blue;
    background-color: lightblue;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
}
.choice_button {
    border: 1px solid red;
    background-color: orange;
    border-radius: 5px;
}
.warning {
    border: 1px solid red;
    background-color: yellow;
    border-radius: 5px;
    color: red;
    font-weight: bolder;
}
.warning.hidden {
    display: none;
}



#main_container {
    width: 100%;
    height: calc(100vh - 31px);
    background-color: ghostwhite;
    display: flex;
    flex-direction: column
}
#header {
    background-color: rgb(230, 210, 250);
    display: flex;
    flex-direction: row;
    font-size: 25;
}

#top {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1 1 auto;
}

#graph_view {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(250,250,220);
}

#horizontal_drag {
    width: 12px;
    height: 100%;
    display: none;
    border-left: 1px solid black;
}
#horizontal_drag:hover {
    cursor: col-resize;
}

#state_description {
    height: 100%;
    width: 15%;
    position: relative;
    flex: 1 0 auto;
    display: none;
    overflow-x: scroll;
    white-space: nowrap;
}
#state_params{
    max-height: 100px;
}

#vertical_drag {
    height: 12px;
    width: 100%;
    position: sticky;
    top: 0px;
    border-top: 1px solid black;
}
#vertical_drag:hover {
    cursor: row-resize;
}

#details {
    background-color: ghostwhite;
    flex: 1 0 auto;
    position: relative;
    height: 20%;
    overflow-y: auto;
}
#details ul {
    margin: 2px;
}

#canvas {
    position: absolute;
    top:0;
    left:0;
}

#center_button {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 20;
    border-radius: 10px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.modal_content {
    width: 80%;
    background-color: white;
    margin: 20px auto;
    border: 5px solid rgb(230, 210, 250);
    border-radius: 25px;
    padding: 10px;
    padding-top: 0px
}
.events_list {
    display: flex;
    gap: 10px;
    overflow: auto;
    margin-bottom: 10px;
}
.events_list div {
    white-space: nowrap;
    background-color: rgb(230, 210, 250);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
}
.events_list.hidden {
    display: none;
}
#actions {
    max-height: 80%;
    overflow: auto;
}
.pointable:hover {
    cursor: pointer;
}
.closed::before {
    content: "⮞ ";
}
.open::before {
    content: "⮟ ";
}
.select_button {
    border: 2px solid purple;
    background-color: white;
    font-weight: bold;
    border-radius: 7px;
}
